
/*Main Header color scheme*/
h1{
	text-align:center;
	color: black;
	font-family:"Arial";
	font-size:250%;
		
}
/*Minor headers*/

h2,h3,h4,h5{
	text-align:center;
	color: black;
	font-family:"Arial";
	font-size:150%;
	
}


/*paragraph color scheme*/
p{
	text-align: center;
	color:black;
	font-family:"Arial";
	font-size:100%;
	margin-right: 20px;
	margin-left: 20px;
}

li{
	padding: 8px;
	background-color:lightgrey;
}
/*Background color and header color choice*/

body{
	background-color: lightgray;
}
a:active{
	color:blue;
}

