
/*Main Header color scheme*/
h1{
	text-align:center;
	color: black;
	font-family:"Arial";
	font-size:250%;
		
}
/*Minor headers*/

h2,h3,h4,h5{
	text-align:center;
	color: black;
	font-family:"Arial";
	font-size:150%;
	
}


/*paragraph color scheme*/
.p1{
	text-align: left;
	color:black;
	font-family:"Arial";
	font-size:100%
}

ul{
	padding: 8px;
	background-color:white;
}
/*Background color and header color choice*/

body{
	background-color: lightgray;
}
a:active{
	color:blue;
}

